---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Advanced Cycle Guide">
  <main class="container mx-auto p-4">
    <h1>Advanced Cycle Guide</h1>
    <p>Content for the advanced cycle guide will go here.</p>
  </main>
</Layout>
