---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="First Cycle Guide">
  <main class="container mx-auto p-4">
    <h1>First Cycle Guide</h1>
    <p>Content for the first cycle guide will go here.</p>
  </main>
</Layout>
