---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Intermediate Cycle Guide">
  <main class="container mx-auto p-4">
    <h1>Intermediate Cycle Guide</h1>
    <p>Content for the intermediate cycle guide will go here.</p>
  </main>
</Layout>
