---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Understanding Bloodwork">
  <main class="container mx-auto p-4">
    <h1>Understanding Bloodwork</h1>
    <p>Content about bloodwork will go here.</p>
  </main>
</Layout>
