---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Post Cycle Therapy (PCT)">
  <main class="container mx-auto p-4">
    <h1>Post Cycle Therapy (PCT)</h1>
    <p>Content about post cycle therapy will go here.</p>
  </main>
</Layout>
