---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Managing Side Effects">
  <main class="container mx-auto p-4">
    <h1>Managing Side Effects</h1>
    <p>Content about managing side effects will go here.</p>
  </main>
</Layout>
